.principal {
    width: 100%;
    min-height: 100vh;

    padding: 1rem 0px;

    font-family: "Vollkorn SC", serif;
    font-weight: 400;
    font-style: normal;

    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;


    background: #8e2a9b;
    background: -webkit-linear-gradient(19deg, rgba(142, 42, 155, 1) 0%, rgba(87, 199, 195, 1) 51%, rgba(83, 237, 204, 1) 100%);
    background: -moz-linear-gradient(19deg, rgba(142, 42, 155, 1) 0%, rgba(87, 199, 195, 1) 51%, rgba(83, 237, 204, 1) 100%);
    background: linear-gradient(19deg, rgba(142, 42, 155, 1) 0%, rgba(87, 199, 195, 1) 51%, rgba(83, 237, 204, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8E2A9B", endColorstr="#53EDCC", GradientType=0);
}

.encabezadoPrincipal {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-style: italic;
    text-shadow: 3px 3px 0px #000000ae;

    margin: 2rem 0px;
    text-align: center;
    font-size: 2rem;
}

.listaTarjetas {
    list-style: none;

    display: grid;
    gap: 1rem;
}

/* MEDIA QUERIES */
@media (min-width: 320px) and (max-width: 625px) {
    .listaTarjetas {
        grid-template-columns: repeat(1, 18rem);
    }
}

@media (min-width: 625px) and (max-width: 1024px) {
    .listaTarjetas {
        grid-template-columns: repeat(2, 18rem);
    }
}

@media (min-width: 1024px) {
    .listaTarjetas {
        grid-template-columns: repeat(3, 18rem);
    }
}