* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width: 1200px) and (max-width: 1440px) {
    :root {
        font-size: 20px;
    }
}

@media (min-width: 1440px) and (max-width: 2560px) {
    :root {
        font-size: 24px;
    }
}