.tarjetaContenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    padding: 1rem;

    text-align: center;

    border: 1px solid red;
    height: 40rem;
}

.tarjetaMarcoPortada {
    width: 15rem;
    height: 15rem;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    border: .25rem solid rgb(22, 22, 22);
}

.tarjetaPortada {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tarjetaNombre {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 0px rgb(22, 22, 22);
    font-size: 1.5rem;
}

.tarjetaProfesion {
    color: rgb(22, 22, 22);
    font-size: 1rem;
    font-style: italic;
}

.tarjetaDescripcion {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    overflow-y: auto;
}